<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <main>
        <br>
        <section id="products">
            <h2 class="header">Our Products</h2>
            <p class="header">Custom Bouquet, Made by Order</p> <br>
            <div class="items">
                <div class="item">
                    <a href="/spaghetti" onclick="return false;"><img src="img/Spaghetti.webp" alt="Spaghetti" class="image"></a>
                    <h3>Spaghetti</h3>
                    <p>For Wedding or Birthday Present</p>
                    <span>RP 1000000000000000000000000000000</span>
                    <button class="more-detail">More Detail</button>
                </div>
            </div>

            <div class="more-detail-popup" id="popup">
                <div class="popup-content">
                    <span class="close-btn">&times;</span>
                    <h2>Spaghetti</h2>
                    <p>A more detailed information about spaghetti...</p>
                </div>
            </div>
    </main>

    <script src="scripts/index.js"></script>
</body>

</html>